body {
    font-family: Arial, sans-serif;
    margin: 0rem;
    padding: 0rem;
}

header,footer {
    background: #333;
    color: #fff;
    padding: 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5rem;
}

main {
    padding: 1rem;
}

.home {
    color: #ff0044;
}

.about {
    color: #067762;
}

.contacts {
    color: #2b00ff;
}