<header>
    <nav>
        <a href = '/'>Главная страница</a>
        <a href = '/about'>О проекте</a>
        <a href = '/contacts'>Контакты</a>
        <a href = '/forms'>Формы</a>
        <a href = '/noexist'>Несуществующий маршрут</a>
    </nav>
</header>